
/* font styles */
.raleway-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
/* body */
.whole-body{
    background-color: #F5F8FF;
}
/* head section */
.btn-primary{
    background-color: #4E47FF ;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    justify-content: center;
    
}
.txt-primary{
    color: #fd6e0a;
}
.banner-content{
    font-size: 64px;
    color: #252432;
}
.header-img{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
}

/* nav-bar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-logo{
    font-size: 34px;
}
nav a{
    text-decoration: none;
}
.nav-color{
    color: blueviolet;
    
}